<h1>Get a new stuff</h1>

<% if @takes.any? %>
  <% @takes.each do |take| %>
    <%= render 'shared/take_line', take: take %>
  <% end %>
<% end %>

<% @drugs.each do |drug| %>
  <%= render 'shared/drug_card', drug: drug %>
<% end %>
